@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css);
@font-face {
  font-family: terrariaFont;
  src: url(AndyBold.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: terrariaFont;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(15, 201, 15, 0.705);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #0a8a11cc;
}

.VortexTerraLogo {
  width: 100px;
}

#musicIcon {
  height: 45px;
  width: 45px;
  margin-top: -25%;
}

@media screen and (max-width: 779px) {
  .container-playlist {
    width: 85% !important;
    height: 100% !important;
    overflow: show !important;
  }
  .progress {
    width: 150px !important;
  }
  .controls-box {
    margin-left: -7.5em !important;
    margin-bottom: -0.5em !important;
  }
  .play-list-row {
    width: 380px !important;
    height: 30px !important;
  }
}

@media screen and (min-width: 780px) {
  .nav-link {
    margin-top: -1em;
    position: absolute;
    right: 0;
  }
  #music {
    margin-right: 24.5em;
  }
  #gallery {
    margin-right: 18.5em;
  }
  #trailers {
    margin-right: 12.5em;
  }
  #guide {
    margin-right: 7em;
  }
  #update {
    margin-right: 1em;
  }
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #5fa6d2;
  padding: 20px;
  color: white;
  margin-top: 7.2em;
}

p.footer-copyright {
  color: black;
}

.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.disabled {
  color: #666;
  cursor: default;
}

.show {
  display: inline-block !important;
}

body {
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: terrariaFont;
  background-image: url("Media/MenuBG3.png");
  background-color: #5fa6d2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body .container-playlist {
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
  margin: 0 auto;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: auto;
  border-radius: 1em;
}

body .container-playlist .player {
  height: 60px;
  margin: 0;
  position: relative;
  width: 400px;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
  *zoom: 1;
}

@media (min-width: 768px) and (max-width: 991px) {
  body .container-playlist .player {
    width: 470px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  body .container-playlist .player {
    width: 470px;
  }
}

@media (min-width: 1200px) {
  body .container-playlist .player {
    width: 470px;
  }
}

body .container-playlist .player .large-toggle-btn {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  float: left;
  font-size: 1.5em;
  height: 50px;
  margin: 0 10px 0 0;
  overflow: hidden;
  padding: 5px 0 0 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  width: 54px;
}

body .container-playlist .player .large-toggle-btn .large-play-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -14%;
}

body .container-playlist .player .large-toggle-btn .large-play-btn:before {
  content: "\f04b";
  font: 1.5em/1.75 "FontAwesome";
}

body .container-playlist .player .large-toggle-btn .large-pause-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -13%;
}

body .container-playlist .player .large-toggle-btn .large-pause-btn:before {
  content: "\f04c";
  font: 1.5em/1.75 "FontAwesome";
}

body .container-playlist .player .info-box {
  bottom: 10px;
  left: 65px;
  position: absolute;
  top: 15px;
}

body .container-playlist .player .info-box .track-info-box {
  float: left;
  font-size: 12px;
  margin: 0 0 6px 0;
  visibility: hidden;
  width: 400px;
  *zoom: 1;
}

body .container-playlist .player .info-box .track-info-box .track-title-text {
  display: inline-block;
}

body .container-playlist .player .info-box .track-info-box .audio-time {
  display: inline-block;
  padding: 0 0 0 5px;
  width: 80px;
}

body .container-playlist .player .info-box .track-info-box:before, body .container-playlist .player .info-box .track-info-box:after {
  content: " ";
  display: table;
}

body .container-playlist .player .info-box .track-info-box:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

body .container-playlist .player .progress-box {
  float: left;
  min-width: 270px;
  position: relative;
}

body .container-playlist .player .progress-box .progress-cell {
  height: 12px;
  position: relative;
}

body .container-playlist .player .progress-box .progress-cell .progress {
  background: #fff;
  border: 1px solid #d9d9d9;
  height: 8px;
  position: relative;
  width: auto;
}

body .container-playlist .player .progress-box .progress-cell .progress .progress-buffer {
  background: #337ab7;
  height: 100%;
  width: 0;
}

body .container-playlist .player .progress-box .progress-cell .progress .progress-indicator {
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 3px;
  cursor: pointer;
  height: 10px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -2px;
  width: 22px;
}

body .container-playlist .player .controls-box {
  bottom: 10px;
  left: 350px;
  position: absolute;
}

body .container-playlist .player .controls-box .previous-track-btn {
  cursor: pointer;
  display: inline-block;
}

body .container-playlist .player .controls-box .previous-track-btn:before {
  content: "\f049";
  font: 1em "FontAwesome";
}

body .container-playlist .player .controls-box .next-track-btn {
  cursor: pointer;
  display: inline-block;
}

body .container-playlist .player .controls-box .next-track-btn:before {
  content: "\f050";
  font: 1em "FontAwesome";
}

body .container-playlist .player:before, body .container-playlist .player:after {
  content: " ";
  display: table;
}

body .container-playlist .player:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

body .container-playlist .play-list {
  display: block;
  margin: 0 auto 20px auto;
  width: 100%;
}

body .container-playlist .play-list .play-list-row {
  display: block;
  margin: 10px 0;
  width: 100%;
  *zoom: 1;
}

body .container-playlist .play-list .play-list-row .track-title .playlist-track {
  color: #000;
  text-decoration: none;
}

body .container-playlist .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}

body .container-playlist .play-list .play-list-row .small-toggle-btn {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}

body .container-playlist .play-list .play-list-row .small-toggle-btn .small-play-btn {
  display: inline-block;
}

body .container-playlist .play-list .play-list-row .small-toggle-btn .small-play-btn:before {
  content: "\f04b";
  font: 0.85em "FontAwesome";
}

body .container-playlist .play-list .play-list-row .small-toggle-btn .small-pause-btn {
  display: inline-block;
}

body .container-playlist .play-list .play-list-row .small-toggle-btn .small-pause-btn:before {
  content: "\f04c";
  font: 0.85em "FontAwesome";
}

body .container-playlist .play-list .play-list-row .track-number {
  display: inline-block;
}

body .container-playlist .play-list .play-list-row .track-title {
  display: inline-block;
}

body .container-playlist .play-list .play-list-row .track-title .playlist-track {
  text-decoration: none;
}

body .container-playlist .play-list .play-list-row .track-title .playlist-track:hover {
  text-decoration: underline;
}

body .container-playlist .play-list .play-list-row .track-title.active-track {
  font-weight: bold;
}

body .container-playlist .play-list .play-list-row:before, body .container-playlist .play-list .play-list-row:after {
  content: " ";
  display: table;
}

body .container-playlist .play-list .play-list-row:after {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
/*# sourceMappingURL=Terraria-Music-Playlist.css.map */