body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: terrariaFont;
  background-image: url("Media/MenuBG6.png");
  background-color:rgb(95, 166, 210);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

* {
  font-family: terrariaFont;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(15, 201, 15, 0.705); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #0a8a11cc; 
}

@font-face {
  font-family: terrariaFont;
  src: url(AndyBold.ttf);
}

.VortexTerraLogo {
  width: 100px;
}

@media screen and (min-width: 780px) {
  .nav-link {
    margin-top: -1em;
    position: absolute;
    right: 0;
  }

  #musicIcon {
    height: 45px;
    width: 45px;
    margin-top: -25%;
  }

  #musicButton {
    margin-right: 29.5em;
  }

  #music {
    margin-right: 24.5em;
  }

  #gallery {
    margin-right: 18.5em;
}

  #trailers {
  margin-right: 12.5em;
  }


  #guide {
    margin-right: 7em;
  }
  
  #update {
    margin-right: 1em;
  }
}

@media screen and (max-width: 779px) {
  #musicIcon {
    height: 45px;
    width: 45px;
  }
}

.infoPatch {
  background-color: rgba(255,255,255, 0.8);
  padding:20px;
  border-radius: 10px;
}

.modNews {
  background-color: rgba(255,255,255, 0.8);
  padding:20px;
  border-radius: 10px;
}

.calamityText a:link {
  text-decoration:underline;
}

.overhaulText a:link {
  text-decoration:underline;
}

.xtraGunText a:link {
  text-decoration:underline;
}

.keyPress {
  color: rgb(253, 255, 140);
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     text-align: center;
}

.infoTitle {
  text-align: center;
    font-size: 20px;
}

.workshopPatch a:link {
  text-decoration:underline;
}

.roundJourney a:link {
  text-decoration:underline;
}

.journeyPatch a:link {
  text-decoration:underline;
}

.QnA {
  color: rgb(253, 255, 140);
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  text-align: center;
  font-size: 20px;
}

.goofyText {
  color: rgb(140, 255, 140);
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.goofyTextTwo {
  color: rgb(255, 211, 144);
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.goofyGroup {
  text-align: center;
}

.btn-primary{
  font-family: terrariaFont;
  background-color: rgba(93, 118, 201, 0.9) !important;
  border: 2px solid black !important;
  width: 100px !important;
  height: 35px !important;
  text-shadow:
 -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}

.btn-primary:hover {
  border-color: rgb(210,195,74) !important;
  border-width : 2px;
}


.footer {
  flex-shrink: 0;
  background: rgb(95, 166, 210);
  padding: 20px;
  color: rgb(255, 255, 255);
}

p.footer-copyright {
  color: black;
}